form {
	position: absolute;
	width: 200px;
	right: 50%;
	left: 50%;
}
input.one {
	position: relative;
	width: 60px;
	top: 5px;
	left: 40px;	

.top-buffer { margin-top: 100px; 
			  margin-left: 600px;
}